.container-fluid{
  margin-top:5%;
}
/* .col-md-3 {
  display: inline !important;
  
} */
.text-uppercase{
  font-size: 20px;
  font-weight: 300px;
}

.text-uppercase1{
  letter-spacing: 4px;
  font-size: 20px;
  font-weight: 300px;
  position: relative;
  /* justify-content: center!important;
   */
   left: 5%;
}
#subscribe{
  letter-spacing: 1px;
  position: relative;
  left: 15%;
  justify-content: center;
}

.footer_links{
  color:white;
  text-decoration: none;
  font-size: 14px;
}

.footer_links:hover{
  color:yellow;
}


.button{
  color: black !important;
  background-color: white !important;
  max-width: 2000px !important;
  font-weight: 300px;
}

.button:hover{
  background-color: yellow !important;
}

.footerrow{
  /* padding-top: 200px !important; */
  width: 96% !important;
  /* display: inline; */
}

.footer{
  position: relative !important;
  bottom: 0 !important;
  left: -1%;
  /* width: 100px; */
  
}


.footer a{
  text-decoration: none;
}
.color{
  color: white;
  background: black;
}


#address_p{
  position: relative !important;
  display:inline-block;
  /* letter-spacing: 1px; */
  /* margin: 20px 0 20px 0 !important; */
  width: 40% !important;
  left:auto;
  justify-content: flex-end ;
  /* top: -10% !important; */
}

.btn_custom{
  position: relative;
  left: 4.5%;
  justify-content: center;
  color:black;
  border-radius: 0!important;
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  -ms-border-radius: 0!important;
  -o-border-radius: 0!important;
  background: white;
  font-size: 18px!important;
  font-weight: 600 !important;
  letter-spacing: 1px;
}
.footerlogo{
  position: relative;
  left: 20%;
  width:40%;
}

#exampleInputEmail1{
  position: relative;
  justify-content: center;
  /* text-align: center; */
  width:40%;
  left:35%;
}

#myname{
  color:gray;
}
#myname:hover{
  color:yellow;
}
.address{
  position: relative;
  top: -3rem;
}

@media screen and (max-width:780px) {
  #exampleInputEmail1{
    position: relative;
    justify-content: center;
    /* text-align: center; */
    width:60%;
    left:25%;
  }

  .contacting{
    position: relative;
    top:-30px;
  }
  #footeraddressleft{
    position: relative;
    left: 3rem;
  }

  .text-uppercase1{
    letter-spacing: 4px;
    font-size: 20px;
    font-weight: 300px;
    position: relative;
    /* justify-content: center!important;
     */
     left: 8%;
  }

  .stay_in_touch{
    /* padding-bottom: 50px!important; */
    position: relative !important;
    left: 30%!important;
  }

  #address_p{
    position: relative;
    display: inline-block;
    width: 90% !important;
    left: 2rem;

  }
  .text-uppercase{
    /* left: 2% !important; */
    padding-bottom: 2px;
  }


  #subscribe{
    padding:0 6px 0 6px;
    position: relative;
    left: 20%;
  }

  .btn_custom{
    position: relative;
    left: 8%;
    justify-content: center;
    color:black;
    border-radius: 0!important;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    -ms-border-radius: 0!important;
    -o-border-radius: 0!important;
    background: white;
    font-size: 18px!important;
    font-weight: 600 !important;
    letter-spacing: 1px;
  }

  .footerlogo{
    position: relative;
    left: 0%;
    width:40%;
  }
  
}